body {
    background-color: #FCE9E4;
}

p{
    font-weight: bold;
}
.bg-image {
    height: 80vh;
    background-size: cover;
    background-position: center center;
}

.btn-purple {
    color: #fff;
    background-color: red;
    border-color: red;
}

div.main {
    margin-top: 85px;
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
}

b{
    color: red;
}